<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pop up greeting card</title>
</head>
<body>
    <main class="row justify-content-center">
        <div class="col-md-4">
        <h1>Kitten pop up card</h1>
        <img  src="images/kitten.jpg" alt="kitten card">
    </div>
        <div class="col-md-4">
        <h3>Description of kitten pop up card</h3>
        <p>Love kitten pop up card has a black cover with a lovely kitten pattern. The image reveals just enough of the surprise inside. Open the card and you will find a stunning three-dimensional sculpture of a cool kitten delivering a love letter.
We always leave the card blank so that you can personalize your own words.</p>

<h3>Inspirations of kitten pop up card:</h3>
<p>A cute kitten will never go wrong in any occasions, especially on V-day. We believe each card tells a different story depending on how you give the card to the receiver. It could either be a great gift for anniversaries or a love gift for any kitten souls. Our craftsmen have carefully design layers and layers of the pop-up to make the sculptures look so vibrant and bring great excitement to receivers.</p>
</div>
    </main>

    <script src="js/main.js"></script>
</body>
</html>